<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'index/css/style.css' %}">

	<nav class="navbar">
		<span class="logo">Jim Money</span>

		<a href="/" class="loginA">Login</a>
		<a href="/signup" class="loginA">Register</a>

	</nav>
</head>
<body class="loginbody">
	<div class="login-container">
		<img src="{% static 'index/img/user.png' %}" class="legend">
		<form>
			<h1>Member Login</h1>
			<div class="login-field">
				<label class="alone">Username </label>
				<input type="text" name="username" placeholder="Enter Username" class="login-input">
			</div>

			<div class="login-field">
				<label class="alone">Password </label>
				<input type="password" name="password" placeholder="Enter Password" class="login-input">
			</div>

			<div class="login-field">
				<input type="submit" value="Login" class="login-submit">
				<p class="forget">Forget password? <a href="#">Click here</a></p>
			</div>
		</form>

	</div>
</body>
</html>