<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'index/css/style.css' %}">

	<nav class="navbar">
		<span class="logo">Jim Net</span>

		<a href="/" class="loginA">Login</a>
		<a href="/signup" class="loginA">Register</a>

	</nav>
</head>
<body class="loginbody">
	<ul id="messagelist">
		<!-- <p id="reactmessage" class="error"></p> -->
		{% if messages %}
			{% for message in messages %}
				<li id="message" {% if message.tags %} class="{{message.tags}}" {% endif %}>
					{{message}}
				</li>
			{% endfor %}
		{% endif %}
	</ul>

	<!-- Login form -->
	<div class="login-container innernavactive" data-access="#login">
		<img src="{% static 'index/img/user.png' %}" class="legend">
		<form action="" method="post">
			{% csrf_token %}
			<h1>Member Login</h1>
			<div class="login-field">
				<label class="alone">Username </label>
				<input type="text" name="username" placeholder="Enter Username" class="login-input" required>
			</div>

			<div class="login-field">
				<label class="alone">Password </label>
				<input type="password" name="password" placeholder="Enter Password" class="login-input" required>
			</div>

			<div class="login-field">
				<input type="submit" value="Login" class="login-submit">
				<p class="forget">Forget password? <a href="#" class="forgetpass" data-access="#forget">Click here</a></p>

			</div>
		</form>

	</div>

	<!-- Forget password form -->
	<div id="forget" class="login-container hide">
		<img src="{% static 'index/img/user.png' %}" class="legend">
		<form action="/forgetpass/" method="post">
			{% csrf_token %}
			<h1>Forget Password</h1>
			<div class="login-field">
				<label class="alone">Username </label>
				<input type="text" name="username" placeholder="Enter Username" class="login-input" required>
			</div>

			<div class="login-field">
				<input type="submit" value="Reset" class="login-submit">
				<p class="forget">Not yet a member? <a href="/signup">Register</a></p>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript" src="{% static 'index/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'index/js/js.js' %}"></script>
</html>