body{
	margin: 0px;
}
img{
	margin: 0px;
}
a{
	text-decoration: none;

	color: #1e90ff;
}
.navbar{
	background: green;
	width: 100%;
	height: 60px;
}
.navbar a:hover{
	color: coral;
}
.logo{
	font-family: cursive;
	font-size: 25px;
	color: white;
	display: inline-flex;
	margin: 10px 30px;
	font-weight: bolder;
}
.dropimg{
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}
/*.loginA{
	border: 3px solid white;
	border-radius: 3px;
	padding: 10px;
	margin: 10px;
	float: right;
	color: white;
	font-weight: bolder;
	font-family: arial;
}*/
.loginA{
	padding: 10px;
	margin: 10px 8px;
	float: right;
	color: white;
	font-weight: bolder;
	font-family: arial;
}
#data{
	position:;
}
.navtag{
	padding: 10px;
	margin: 10px;
	margin-bottom: 6px;
	color: green;
	background: white;
	font-weight: bolder;
	font-family: arial;
	display: block;
}
.dropcontent{
	background: green;
	color: green;
}
.loginbody{
	background: url('/static/index/img/img.jpeg');
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}
.regbody{
	background: url('/static/index/img/jim4.jpg');
	background-size: 100%;
	padding: 0px;
	margin: 0px;
}

h1, h2,h3, h4,h5, h6{
	color: white;
	font-family: arial;
	text-align: center;
	margin-bottom: 2px;
}
.login-container{
	margin: 80px auto;
	background: black;
	opacity: 0.8;
	width: 35%;
	padding: 35px 70px;
	border-radius: 10px;
}
.reg-container{
	margin: 80px auto;
	background: black;
	opacity: 0.8;
	width: 35%;
	padding: 30px 50px;
	border-radius: 10px;
}
.login-field{
	margin: 30px 0px;
}
label{
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
}
.alone{
	display: block;
}
.wide{
	margin-bottom: 10px;
}
.wide input{
	font-size: 15px;
}
.login-input{
	width: 100%;
	height: 30px;
	font-size: 15px;
	padding: 0px 10px;
	border: 0px;
	border-bottom: 2px solid green;
	background-color: black;
	color: white;
}
.reg-input{
	height: 25px;
	font-size: 15px;
	padding: 0px 10px;
	border: 0px;
	border-bottom: 2px solid green;
	background-color: black;
	color: white;
}
.login-submit{
	font-family: arial;
	font-weight: bold;
	width: 100%;
	color: white;
	background-color: green;
	border: 1px solid green;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 7px;
}
.login-submit:hover{
	cursor: pointer;
}
.legend{
	width: 30%;
	height: 30%;
	text-align: center;
	margin: 10px auto;
	margin-bottom: 10px;
	display: block;
	margin-top: -100px;
	border-radius: 50%;
	border: 2px solid coral;
}
.forget{
	color: white;
	font-family: arial;
	font-size: 15px;
	text-align: center;
}
.regsubmit{
	width: 100%;
	border-radius: 5px;
	color: white;
	font-family: arial;
	font-weight: bolder;
	padding: 10px;
	border: 1px solid green;
	background: green;
}
.regsubmit:hover{
	cursor: pointer;
}

/* This is where I stop while using server */

.col-5 label{
	margin: 5px 12px 5px 0px;
	display: block;
	font-size: 14px;
}
.col-5 input{
	border: 0px;
	border-bottom: 2px solid green;
	background: black;
	color: white;
}
.col-6 label{
	margin: 5px 12px 5px 0px;
	display: block;
	font-size: 14px;
}
.col-6 input{
	border: 0px;
	border-bottom: 2px solid green;
	background: black;
	color: white;
}
.col-6{
	-ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 40%;
    display: inline;
	margin: 0px;
	padding: 0px;
	margin-top: 15px;
}
.col-6-lg{
	-ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    display: inline;
	margin: 0px;
	padding: 0px;
	margin-top: 15px;
}
.col-6-lg label{
	margin: 5px 5px 5px 0px;
	display: block;
	padding-top: 0px;
}
.col-6-lg input{
	border: 0px;
	border-bottom: 2px solid green;
	background: black;
	color: white;
	width: 100%;
}
.col-5{
	-ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 40%;
    display: inline;
	margin: 0px;
	padding: 0px;
	margin-top: 15px;
}
.rol-1{
	padding: 0px;
}
.sm-rol-1{
	width: 48%;
	display: inline-table;
}
.sm-rol-2{
	width: 48%;
	display: inline-table;
}
.lg-rol{
	width: 100%;
}
.sub-topic{
	font-family: arial;
	font-size: 15px;
	color: coral;
	margin: 30px 0px 0px 0px;
	text-align: left;
	display: block;

}
.username{
	border: 0px;
	border-bottom: 2px solid green;
	background: black;
	color: white;
	display: block;
}
.dashbody{
	background: url('/static/index/img/background.png');
}
.dashcontainer{
	padding: 20px 30px;
}
.dashbody h1,h2,h3,h4,h5,h6{
	color: black;
}
.reg-container h2{
	color: white;
}
.dashcontainer table{
	width: 100%;
	border: 0px solid black;
	border-spacing: 0px;
}
.dashcontainer td{
	border: 0px solid blue;
	padding: 10px 10px;
	border-collapse: collapse;
	font-family: arial;
	font-size: 15px;
	text-align: center;
}
.level{
	width: 10%;
}
.ref{
	width: 20%;
}
.earning{
	width: 30%;
	border-left: 0px;
}
.request{
	width: 35%;
}
.confirm{
	width: 5%;
}
.dashcontainer td{
	border: 1px solid black;
}
.heading{
	font-weight: bolder;
}
.offspring{
	text-align: center;
}
.pointer:hover{
	cursor: pointer;
}
.checkimg{
	width: 35px;
	height: 35px;
	opacity: 0.3;
}
td span{
	color: green;
	font-size: 12px;
}
td a{
	padding: 10px 20px;
	background: green;
	color: white;
	border-radius: 5px;
	font-weight: bolder;
	opacity: 0.3;
}
.withdraw:hover{
	cursor: not-allowed;
}
.active{
	opacity: 1;
	cursor: pointer;
}
.active:hover{
	cursor: pointer;
}
.alignleft{
	text-align: left;
}
.dashcontainer h2{
	padding-left: 30px;
	text-align: left;
}
.right{
	float: right;
}
.dashcontainer form label{
	color: black;
	display: inline;
}
.right h4{
	display: inline;
}
.withsubmit{
	color: white;
	background: green;
	border: 1px solid green;
	border-radius: 2px;
	font-size: 12px;
}
.hide{
	display: none;
}
.chart{
	margin: 20px auto;
	background: white;
	top: 9%;
	left: 3%;
}
.closeimg{
	width: 25px;
	height: 25px;
}
.closeimg2{
	width: 20px;
	height: 20px;
}
.closeimg2:hover{
	cursor: pointer;
}
.userhead{
	color: white;
}
.col-6-lg select{
	width: 50%;
	background: black;
	color: white;
}
.innernav{
	color: green;
	font-family: arial;
	padding: 10px;
	margin: 10px 7px;
	border: 1px solid white;
}
.innernav:hover{
	background: white;
	color: #32cd32;
}
.innernavpanel{
	padding: 10px 10px;
	text-align: center;
	background: #32cd32;
	width: 50%;
	margin: 20px auto;
}
.innernavactive{
	display: block;
}
.innernavshowactive{
	background: white;
	color: #32cd32;
}
.generateform input{
	background: none;
	color: black;
}
.gensubmit{
	border: 1px solid green;
	background: green;
	padding: 10px 30px;
	border-radius: 4px;
}
.gensubmit:hover{
	color: white;
	background: green;
	cursor: pointer;
}
.numinput{
	width: 35%;
}
.left{
	float: left;
}
.numberof{
	font-family: arial;
	font-size: 17px;
	color: black;
	font-weight: bolder;
}
.jobcheck{
	display: inline;
}
.jobtext{
	color: white;
	font-family: arial;
	font-size: 14px;
}
.infodrop{
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 4px;
	width: 90%;
	margin: 10px auto;
}
.fromleft{
	text-align: left;
}
.dropfront{
	font-family: arial;
	font-size: 17px;
	font-weight: bolder;
}
.dropfront2{
	font-family: arial;
	font-size: 17px;
}
.more{
	font-family: arial;
	font-weight: bolder;
	font-size: 15px;
}
.more:hover{
	cursor: pointer;
}
.jobupdatabut{
	border: 1px solid yellow;
	background-color: white;
}
.dropsuspend{
	color: white;
	background: yellow;
	border-radius: 3px;
	padding: 7px;
}
.dropsuspend:hover{
	color: yellow;
	background: white;
	border: 1px solid yellow;
}
.dropdel{
	color: white;
	background: red;
	border-radius: 3px;
	padding: 7px;
}
.dropdel:hover{
	color: red;
	background: white;
	border: 1px solid red;
}
.dropbottom{
	font-size: 14px;
	margin-top: 20px;
	font-weight: normal;
}
tr .sm{
	font-size: 13px;
	padding: 5px;
}
.print{
	margin-top: 20px;
}
ul#messagelist {
    padding: 0;
    margin: 0;
}

ul#messagelist li {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    color: #333;
}

ul#messagelist li.warning {
    background: #ffc url(../img/icon-alert.svg) 40px 14px no-repeat;
    background-size: 14px auto;
}

ul#messagelist li.error {
    background: #ffefef url(../img/icon-no.svg) 40px 12px no-repeat;
    background-size: 16px auto;
   	font-family: arial;
}
.error{
	background: #ffefef url(../img/icon-no.svg) 40px 12px no-repeat;
    background-size: 16px auto;
}
.notNum{
	color: black;
}
#reactmessage{
	padding: 1px 10px;
	font-family: arial;
	font-size: 13px;
}

.white{
	color: white;
}
.withdrawform{
	background: white;
	border-radius: 5px;
	margin: 20px auto;
	width: 50%;
	padding: 20px;
}
.leftalign{
	text-align: left;
}
.withpintxt{
	width: 60%;
	border-radius: 2px;
}
.requestbut{
	color: white;
	background: green;
	border-radius: 4px;
	display: block;
	border: 0px;
	padding: 10px 20px;
	margin-top: 10px;
}
.requestbut:hover{
	color: green;
	background: white;
	border: 1px solid green;
	cursor: pointer; 
}
footer{
	background: green;
	width: 100%;
	height: 300px;
	padding-top: 20px;
}
.footcontainer{
	width: 30%;
	margin-right: 10px;
}
.footcontent{
	margin-top: 10px;
}